{% extends "layout.html" %}

{% block title %}Flow #{{ flow_id }}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <h1>Flow # {{ flow_id }}</h1>
    <div>
      <input type="button" class="btn btn-default resetView" value="0"></input>
      <input type="button" class="btn btn-default scaleUp" value="+"></input>
      <input type="button" class="btn btn-default scaleDown" value="-"></input>
      <input type="button" class="btn btn-default addSubIdea" value="add"></input>
      <input type="button" class="btn btn-default editNode" value="edit"></input>
      <input type="button" class="btn btn-default removeSubIdea" value="delete"></input>
      <input type="button" class="btn btn-default insertIntermediate" value="insert parent"></input>
      <input type="button" class="btn btn-default toggleCollapse" value="exp/col"></input>
      <input type="button" class="btn btn-default " onclick="mapModel.setInputEnabled(false)" value="disable"></input>
      <input type="button" class="btn btn-default " onclick="mapModel.setInputEnabled(true)" value="enable"></input>
      <input type="button" class="btn btn-default undo" value="undo"></input>
      <input type="button" class="btn btn-default redo" value="redo"></input>
      <input type="button" class="btn btn-default " data-mm-action="export-image" value="Export To Image"/>
      <input type="button" class="btn btn-default cut" value="cut"></input>
      <input type="button" class="btn btn-default copy" value="copy"></input>
      <input type="button" class="btn btn-default paste" value="paste"></input>
      <input type="button" class="btn btn-default openAttachment" value="open attachment"></input>
      <input type="button" class="btn btn-default toggleAddLinkMode" value="add link"></input>
    </div>
    <div id="flow" class="col-md-8" style="height:800px">
      <code>Placeholder for {{ flow_id }}!</code>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
/*jQuery.fn.attachmentEditorWidget = function (mapModel) {
    'use strict';
    return this.each(function () {
        var element = jQuery(this);
        mapModel.addEventListener('attachmentOpened', function (nodeId, attachment) {
            mapModel.setAttachment(
                'attachmentEditorWidget',
                nodeId, {
                    contentType: 'text/html',
                    content: prompt('attachment', attachment && attachment.content)
                }
            );
        });
    });
};*/
$(document).ready(function () {
    window.onerror = alert;
    var container = jQuery('#flow'),
    idea = MAPJS.content(test_tree()),
    isTouch = false,
    imageInsertController = new MAPJS.ImageInsertController("http://localhost:4999?u="),
    mapModel = new MAPJS.MapModel(MAPJS.KineticMediator.layoutCalculator, []);

    container.mapWidget(console, mapModel, isTouch, imageInsertController);
    jQuery('body').mapToolbarWidget(mapModel);
    //jQuery('body').attachmentEditorWidget(mapModel);
    $("[data-mm-action='export-image']").click(function () {
        MAPJS.pngExport(idea).then(function (url) {
            window.open(url, '_blank');
        });
    });

    mapModel.setIdea(idea);
    jQuery('#linkEditWidget').linkEditWidget(mapModel);
    window.mapModel = mapModel;
    jQuery('.arrow').click(function () {
        jQuery(this).toggleClass('active');
    });
    imageInsertController.addEventListener('imageInsertError', function (reason) {
        console.log('image insert error', reason);
    });
}());
</script>
{% endblock %}
